.main {
    margin:auto;
    width: 60%;
}
.hometeam {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}
.teams {
    display: flex;
    flex-flow: row nowrap;
}
.scorebox {
    flex: 1 1;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.awayteam {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}
img {
    border: 1px solid black;
}